@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
* {
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
}
.overflow { overflow: hidden;}
/* header */
header {
  /* background-color: #F8F4F3; */
  width: 100%; 
  position: fixed;
  top: 0;
  padding: 0 50px;
  /* for vertical center */
  height: 80px;
  line-height: 80px;
  z-index: 10;
}

/* logo */
header > div.logo {
  display: inline-block;
  width: 150px;
}
header > div.logo > a > img {
  margin-top: 23px;
  max-width: 100%;
}
header > div.logo > a > h1 {
  display: inline-block;
  font-size: 0;
}
/* headerIcon */
header > div.headerIcon {
  float: left;
  position: fixed;
  right: 50px;
  top: 0;
}
/* search*/
header > div.headerIcon > div.search {
  padding: 0 10px;
  display: inline-block;
}
header > div.headerIcon > div.search > label > input {
  /* 클릭시 나타나게 */
  display: none;
}
header > div.headerIcon > div.open {
  display: inline-block;
}
/* gnb */
#gnbBox {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #1F1F1F;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  color: #ddd;
  display: none;
}
.gnb {
  position: relative;
  top:25%;
  width: 100vw;
  margin-top: 30px;
  /* 부메뉴에 영향을 주지 않기 위해 */
  left: 0;
  padding-left: 20%;
}
.close {
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}
.open {
  cursor: pointer;
}
#gnbBox ul {
  font-size: 3rem;
}
#gnbBox ul ul {
  display: none;
  font-size: 1.2rem;
  position: absolute;
  top: -10px;
  left: 40%;
  padding-left: 5%;
}
#gnbBox ul > li:last-child ul {
  bottom: 0; /*hover 공간 확보*/
}

/* hover시 부메뉴 open */
#gnbBox ul li:hover ul {
  display: block;
}
/* hover effect가 부메뉴에 영향을 주지 않도록 함 */
#gnbBox > nav > ul > li {
  width: 30%;
}
/* menu hover effect */
#gnbBox > nav.gnb > ul > li:hover {
  background-color: #5D8B70;
}

#gnbBox > nav.gnb > ul li:hover {
  color: #F8F4F3;
}

/* main cover */
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* slider */
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 0;
  height: 100vh;
  /* 반응형 */
}
.slider-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 1s ease-in-out;
}
.slide {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 50%;
  transform:translateY(-50%);
  text-align: center;
  overflow: hidden;
  height: 100%;
}
/* 반응형 */
.slide img {
  width: 100%;
  height: 100vh;
}
.pager {
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  text-align: center;
}
.pager span {
  width: 10px;
  height: 10px;
  background-color:#F8F4F3;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999em;
  margin: 0 10px;
}
.pager span.active {
  background-color: #44ADC0;
}
/* content heading */
h1 { 
  font-size: 2em; 
  padding: 80px;
  z-index: 1;
}
/* section height */
section {
  text-align: center;
}

/* button */
button {
  padding: 10px;
  width: 120px;
  border: 1.5px solid white;
  color: white;
  background-color: #E5E5E5;
  cursor: pointer;
  position: relative;
  text-align: left;
}
button:after {
  content: '';
  border-top: 1.5px solid white;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 10px;
  height: 5px;
}
/* button hover */
button:hover {
  background-color: #ddd;
}

/* button layout */
.buttonLayout {
  display: block;
}
/* table */
table {
  border-top: 4px solid #05415e98;
  margin: 30px auto 100px;
  border-collapse: collapse;
}
thead {
  background-color: #aaaaaa3f;
  border-bottom: 2px solid #f1f1f1;
}
th, td {
  border: 1px solid #f1f1f1;
  padding: 20px;
}
th:first-child,
td:first-child {
  border-left: 0;
}
th:last-child,
td:last-child {
  border-right: 0;
}

/* footer */
footer {
  border-top: 130px solid black;
  height: 500px;
  width: 100%;
  background: #1F1F1F;
  color: #5B5B5B;
  position: relative;
}
footer > div {
  background-color: #141414;
  margin-left: 50px;
  padding: 50px;
  position: absolute;
  top: -50px;
  width: calc(100% - 50px);
  height: 300px;
  overflow: hidden;
}
footer > div > .footer-logo { 
  border-right: 1px solid #5B5B5B;
  padding: 10px 50px 0;
  float: left;
}
footer > div > .footer-logo > img {
  width: 170px;
}
footer > div > .footer-logo > h3 {
  padding: 20px 0;
}
footer > div > .footer-nav {
  text-align: center;
  width: 100%;
}
footer > div > .footer-nav > ul {
  display: inline-block;
  overflow: hidden;
  margin: auto;
}
footer > div > .footer-nav > ul:nth-of-type(1) > li {
  float: left;
}
footer > div > .footer-nav > ul:nth-of-type(1) > li > a {
  color: #F8F4F3;
  font-size: larger;
  padding: 0 2vw;
}