@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
* {
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
}

/* header */
header {
  /* background-color: #F8F4F3; */
  width: 100%; 
  position: fixed;
  top: 0;
  padding: 0 50px;
  /* for vertical center */
  height: 80px;
  line-height: 80px;
  z-index: 10;
}

/* logo */
header > div.logo {
  display: inline-block;
  width: 150px;
}
header > div.logo > a > img {
  margin-top: 23px;
  max-width: 100%;
}
header > div.logo > a > h1 {
  display: inline-block;
  font-size: 0;
}
/* headerIcon */
header > div.headerIcon {
  display: flex;
  position: absolute;
  right: 50px;
  top: 0;
}
/* search*/
header > div.headerIcon > div.search {
  padding: 0 10px
}
header > div.headerIcon > div.search > label > input {
  /* 클릭시 나타나게 */
  display: none;
}

/* gnb */
#gnbBox {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #1F1F1F;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  color: #ddd;
  display: none;
}
.gnb {
  position: relative;
  top:25%;
  width: 100vw;
  margin-top: 30px;
  /* 부메뉴에 영향을 주지 않기 위해 */
  left: 0;
  padding-left: 20%;
}
.close {
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}
.open {
  cursor: pointer;
}
#gnbBox ul {
  font-size: 3rem;
}
#gnbBox ul ul {
  display: none;
  font-size: 1.2rem;
  position: absolute;
  top: -10px;
  left: 60%;
  padding-left: 20px;
}

/* hover시 부메뉴 open */
#gnbBox ul li:hover ul {
  display: block;
}
/* hover effect가 부메뉴에 영향을 주지 않도록 함 */
#gnbBox > nav > ul > li {
  width: 50%;
}
/* menu hover effect */
#gnbBox > nav.gnb > ul > li:hover {
  background-color: #5D8B70;
}

#gnbBox > nav.gnb > ul li:hover {
  color: #F8F4F3;
}

/* main cover */
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* .cover_imgs {
  width: 100vw;
  height: 100vh;
} */
/* slider */
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;

}
.slider-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 1s ease-in-out;
}
.slide {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 50%;
  transform:translateY(-50%);
  text-align: center;
  overflow: hidden;
  height: 100%;
}
.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.pager span {
  width: 10px;
  height: 10px;
  background-color:#F8F4F3;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999em;
  margin: 0 10px;
}
.pager span.active {
  background-color: #44ADC0;
}
/* content heading */
h1 { 
  font-size: 2em; 
  padding: 80px;
  z-index: 1;
}
/* section height */
section {
  height: 100vh;
  text-align: center;
}
#service h1 { padding: 20px 0;}
#service > div > div > div {
  width: 17vw;
  float: left;
}

/* contents layout */
#service > div.layout {
  text-align: center;
  /* height: 90%; */
}

.circle {
  width: 17vw;
  border-radius: 50%;
  opacity: 0.9;
  margin: 10px;
  border: 10px solid;
}

#service .serviceContents > div:nth-child(1) .circle { border-color: #567F8D;}
#service .serviceContents > div:nth-child(2) .circle { border-color: #313B43;}
#service .serviceContents > div:nth-child(3) .circle { border-color: #5D8B70; }
#service .serviceContents > div:nth-child(4) .circle { border-color: #5F6579;}
#service .serviceContents > div:nth-child(5) .circle { border-color: #757877;}

#service .serviceContents > div:nth-child(1),
#service .serviceContents > div:nth-child(3),
#service .serviceContents > div:nth-child(5) { transform: translate(50%,50%); }

#service .serviceContents > div:nth-child(2) { transform: translate(50%,120%); }
#service .serviceContents > div:nth-child(4) { transform: translate(50%,-20%); }

/* second section hire */
/* layout */

#hire > div.hireWrap {
  width: 100%;
  padding-top: 1vw;
  display: flex;
  vertical-align: middle;
  justify-content:space-around;
}
#hire > div.hireWrap > div {
  background-color: #E5E5E5;
  border: 5px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 500px;
  z-index: 1;
}
/* color */
#hire > div.hireWrap > div:nth-child(1) { color: #44ADC0;}
#hire > div.hireWrap > div:nth-child(2) { color: #42C5A3;}
#hire > div.hireWrap > div:nth-child(3) { color: #0A7EB8;}
#hire p {color:#1F1F1F;}

/* decoration */
.hireWrap > div {position: relative;}
.ribbon {
  content: '';
  width: 18vw;
  height: 80px;
  line-height: 80px;
  background-color: orangered;
  display: block;
  position: absolute;
  transform: translateY(-80%);
  left: -60px;
  top: 100px;
  border-radius: 30px 50px 50px 30px;
  z-index: -1;
  color: white;
}
/* ribon wrapping side */
.ribbon:before {
  content: '';
  width: 54px;
  height: 60px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0x;
  bottom: -20px;
  border-radius: 0 0 0 30px;
  z-index: -1;
}
/* ribbon shadow */
.ribbon:after {
  content: '';
  width: 40px;
  height: 20px;
  background-color: olive;
  border-radius: 50%;
  display: block;
  position: absolute;
  transform: translateY(-50%);
  left: 15px;
  top: 113%;
  border-radius: 50px 0 0 50px;
  z-index: 1;
}
/* ribbon color */
#hire > .hireWrap > div:nth-child(1) .ribbon,
#hire > .hireWrap > div:nth-child(1) .ribbon:before {background-color: #44ADC0;}
#hire > .hireWrap > div:nth-child(2) .ribbon,
#hire > .hireWrap > div:nth-child(2) .ribbon:before {background-color: #42C5A3;}
#hire > .hireWrap > div:nth-child(3) .ribbon,
#hire > .hireWrap > div:nth-child(3) .ribbon:before {background-color: #0A7EB8;}

#hire > .hireWrap > div:nth-child(1) .ribbon:after {background-color: #33818f;}
#hire > .hireWrap > div:nth-child(2) .ribbon:after {background-color: #2a7a65;}
#hire > .hireWrap > div:nth-child(3) .ribbon:after {background-color: #0a6592;}
/* hire font */
#hire i { padding: 20px; }
#hire p { padding-bottom: 10px; }

/* button */
button {
  padding: 10px;
  width: 120px;
  border: 1.5px solid white;
  color: white;
  background-color: #E5E5E5;
  cursor: pointer;
  position: relative;
  text-align: left;
}
button:after {
  content: '';
  border-top: 1.5px solid white;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 10px;
  height: 5px;
}
/* button hover */
button:hover {
  background-color: #ddd;
}

/* button layout */
.buttonLayout {
  display: block;
}
/* location */
#location .map_wrap {
  display: inline-block;
  margin: 0 auto;
  /* overflow: hidden; */
}
#map {
  width: 500px;
  height: 500px;
  /* float: left; */
}
#location input {
  padding: 10px 35px;
  width: 100%;
  border: none;
  margin: 10px 0;
}
#location i {
  position: absolute;
  z-index: 1;
  top: 27px;
  left: 18px;
}

/* map api */
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {
  position:relative;
  width:500px;
  height:500px;
  left:0;
  transform: translate(-50%);
}
#menu_wrap {
  position:absolute;
  top:0;
  left:0;
  transform: translate(100%);
  bottom:0;
  width:500px;
  height: 500px;
  padding:5px;
  overflow-y:auto;
  background:rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size:12px;
}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {
  float:left;
  position:absolute;
  width:36px; 
  height:37px;
  margin:10px 0 0 10px;
  background:url(../images/icon/marker.png) no-repeat;
  background-size: contain;
}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

#placesList .item:hover {
  background-color: rgba(78, 56, 54, 0.3);
}

/* section-news */
#news { 
  width: 100%; 
  text-align: left;
  overflow: hidden;
}
.slide-container {
  width: 200%;
  height: 300px;
  float: left;
}
#news > div > article {
  display: inline-block;
  height: 300px;
  width: 500px;
  margin: 0 10px;
  background-color: #F8F4F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
div.before,
div.after {
  display: inline-block;
  padding: 5px;
  bottom: 0;
  left: 0;
}
div.before {
  margin-left: 30vw;
}

/* section-article */
#news > article {
  position:relative; 
  display: table;
  width: 100%;
  margin-top: 50px;
}
.cover_sentence {
  color: #F8F4F3;
  vertical-align: middle;
  width: 100%;
  height: 290px;
  line-height: 100px;
  background-image: url(../images/original/cover2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: table-cell;
  vertical-align: middle;
}
.cover_sentence > h1 {
  font-size: 3vw;
  line-height: 1.2;
  padding: 0 20px 0 50px;
  display: table-cell;
  vertical-align:middle;
}
.cover_sentence > p {
  display: inline-block;
  line-height: 1.2;
  display: table-cell;
  vertical-align:middle;
}
#news > article > button {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 3;
  background-color: transparent;
  padding: 40px;
  margin-right: 50px;
}
#news > article > button:hover {
  background-color: #f8f4f381;
}
/* footer */
footer {
  border-top: 130px solid black;
  height: 500px;
  width: 100%;
  background: #1F1F1F;
  color: #5B5B5B;
  position: relative;
}
footer > div {
  background-color: #141414;
  margin-left: 50px;
  padding: 50px;
  position: absolute;
  top: -50px;
  display: flex;
  width: calc(100% - 50px);
}
footer > div > .footer-logo { 
  border-right: 1px solid #5B5B5B;
  padding: 10px 50px 0;
}
footer > div > .footer-logo > img {
  width: 170px;
}
footer > div > .footer-logo > h3 {
  padding: 20px 0;
}
footer > div > .footer-nav {
  text-align: center;
  width: 100%;
}
footer > div > .footer-nav > ul {
  display: inline-block;
  overflow: hidden;
  margin: auto;
}
footer > div > .footer-nav > ul:nth-of-type(1) > li {
  float: left;
}
footer > div > .footer-nav > ul:nth-of-type(1) > li > a {
  color: #F8F4F3;
  font-size: larger;
  padding: 0 2vw;
}