@charset "utf-8";
/* 조직도 */
#org {
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  /* background-image: url(../../images/icon/org-path.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
#org > .first-fl p {
  font-size: 30px;
}
/* layout */
#org > .first-fl {
  position: absolute;
  top: 5%;
  left: 45%;
  transform: translate(-50%,-50%);
}
#org > .second-fl {
  position: absolute;
  width: 570px;
  top: 21%;
  left: 47vw;
  transform: translate(-50%,-50%);
}
#org > .third-fl {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-bottom: 10px; /*li 짤림방지*/
}

#org > .first-fl > p,
#org > .third-fl > ul,
#org > .second-fl {
  display: inline-block;
}
#org > .second-fl > div {
  float: left;
  margin: 20px 50px;
}
/* path */
#org > .first-fl p {
  position: relative;
}
#org > .first-fl p::after {
  border-left: 1px solid;
  content: '';
  height: 164px;
  position: absolute;
  top: 100%;
  left: 50%;
}
#org > .second-fl p {
  position: relative;
}
#org > .second-fl > div:first-child p::after {
  border-bottom: 1px solid;
  content:'';
  width: 120px;
  position: absolute;
  top: 50%;
  left: 90%;
  z-index: -1;
}
#org > .third-fl > ul > li {
  float: left;
  margin: 20px;
  position: relative;
}
#org > .third-fl > ul > li::before {
  position: absolute;
  top: 50%;
  left: -30%;
  content: '';
  width: 50px;
  border-top: 1px solid white;
  z-index: -1;
}
#org > .third-fl > ul > li:first-of-type:before {
  border-top: 0;
}
#org > .third-fl > ul > li > ul > li {
  margin: 10px 0;
  position: relative;
}
#org > .third-fl > ul > li > ul > li:before {
  content: '';
  height: 40px;
  border-left: 1px solid white;
  position: absolute;
  left: 50%;
  top: -10px;
  z-index: -1;
}


#org p, 
#org li {
  font-weight: 500;
}
@media screen and (max-width:1200px) {
  #org {
  background-image: none;
}
}
@media screen and (min-width: 850px) and (max-width: 1000px) {
  #org > .third-fl > ul > li:last-child > ul {
    left: 0;
    right: -30%;
    top: 100%;
  }
  #org > .third-fl > ul > li:hover > ul {
    display: block;
  }
}
/* circle color */
#org .circle {
  background-color: #5D8B70;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  color: white;
}
#org .second-fl .circle {
  background-color: #363636;
}
#org .third-fl .circle {
  background-color: #959595;
  line-height: 50px;
}
#org .third-fl > ul > li > ul .circle {
  background-color: white;
  color: black;
  height: 40px;
  line-height: 40px;
}

section:nth-child(2) {
  margin: 10vh 0;
}
.scroll {
  overflow-x: scroll;
  white-space:nowrap
}

@media screen and (max-width:569px) {
  #org {display: none;}
  section:nth-child(2) {
    margin: 0vh 0;
  }
}