@charset "utf-8";
/* 조직도 */
#org {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 50px;
}
#org > .first-fl {
  line-height: 200px;
  font-size: 30px;
  margin: 0 auto;
}

#org > .first-fl > p {
  display: inline-block;
}

/* center */
#org > .third-fl > ul,
#org > .second-fl {
  display: inline-block;
}
#org > .third-fl {
  padding-bottom: 150px; /*li 짤림방지*/
}
#org > .second-fl > div {
  float: left;
  margin: 20px 50px;
  padding: 40px; /*circle짤림방지*/
}
#org > .third-fl > ul > li {
  float: left;
  margin: 20px 50px;
  padding: 40px; /*circle짤림방지*/
}
#org p, 
#org li {
  font-weight: 800;
}
#org > .third-fl > ul > li > ul {
  position: absolute;
  padding: 10px 20px;
  top: 90%;
  right: -90%;
  background-color: #f1f1f1;
  border-radius: 20px;
  z-index: -2;
}
#org > .third-fl > ul > li:nth-child(2) > ul {
  right: -100%; /*중부권 li layout*/
  padding-right: 0;
}

#org > .third-fl > ul > li > ul > li {
  padding-bottom: 10px;/*li 짤림 방지*/
}
@media screen and (max-width: 850px) {
  #org {
    display: none;
  }
}
@media screen and (min-width: 850px) and (max-width: 1000px) {
  #org > .third-fl > ul > li > ul {
    display: none;
  }
  #org > .third-fl > ul > li:last-child > ul {
    left: 0;
    right: -30%;
    top: 100%;
  }
  #org > .third-fl > ul > li:hover > ul {
    display: block;
  }
}
/* circle */
.circle {
  position: relative;
}
.circle::before {
  content: '';
  display: block;
  width: 140px;
  height: 140px;
  border: 3px solid #5D8B70;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #e4e4e4;
  z-index: -1;
}
.second-fl .circle::before {
  border-color: #097EB6;
  width: 110px;
  height: 110px;
}
.third-fl .circle::before {
  border-color: #42C5A3;
  width: 90px;
  height: 90px;
}
.circle:after {
  content: '';
  display: block;
  width: 150px;
  height: 150px;
  border: 10px solid #5D8B70;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #e4e4e4;
  transform: translate(-50%,-50%);
  z-index: -2;
}
.second-fl .circle:after {
  border-color: #097EB6;
  width: 120px;
  height: 120px;
}
.third-fl .circle:after {
  border-color: #42C5A3;
  width: 100px;
  height: 100px;
}

