@charset "utf-8";
section {
  min-height: 80vh;
  padding-bottom: 100px;
}
section > div > div {
  display: inline-block;
  width: 12%;
  min-height: 30vh;
  vertical-align: top;
  text-align: center;
  margin: 0 10px;
}

section > div > div > h2 {
  height: 100px;
  color: white;
}
section > div > div:nth-child(1) > h2 { background: linear-gradient(70deg, #F7B36F, #ACCB5A);}
section > div > div:nth-child(2) > h2 { background: linear-gradient(70deg, #ACCB5A, #449465);}
section > div > div:nth-child(3) > h2 { background: linear-gradient(70deg, #449465 ,#F7B36F);}
section > div > div:nth-child(4) > h2 { background: linear-gradient(70deg, #F7B36F, #ACCB5A);}
section > div > div:nth-child(5) > h2 { background: linear-gradient(70deg, #ACCB5A, #449465);}

section > div > div > p {
  min-height: 25vh;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #c4c4c4;
  padding-top: 20%;
}

@media screen and (max-width:649px) {
  section > div > div {
    width: 50%;
  }
  section > div > div > p {
    height: auto;
  }
}
@media screen and (min-width:650px) and (max-width:1500px) {
  section > div > div {
    width: 40%;
  }
}
@media screen and (min-width:1500px) and (max-width:1700px) {
  section > div > div {
    width: 30%;
  }
}